.BotoesPaginacao {
 text-align: center;
 margin-top: 2em;
}

.BotoesPaginacao button {
 margin-left: 0.5em;
 padding: 0.5em 0.75em;
}

.BotoesPaginacao button:first-of-type {
 margin-left: 0;
}

.BotoesPaginacao button:disabled {
 background: #EEE;
 color: var(--main-color);
}

.BotoesPaginacao button:disabled:hover {
 cursor: default;
 background: #EEE;
 color: var(--main-color);
 box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}